{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
  <div class="user_delete">
    Уверены, что хотите
    {% if delete_user.is_active %}
      удалить
    {% else %}
      восстановить
    {% endif %}
    {{ delete_user.username }}?
    <form action="{% url 'adminapp:user_delete' delete_user.pk %}"
          method="post">
      {% csrf_token %}
      {% if delete_user.is_active %}
        <input class="btn btn-danger" type="submit" value="удалить">
      {% else %}
        <input class="btn btn-warning" type="submit" value="восстановить">
      {% endif %}
    </form>
    <button class="btn btn-success">
      <a href="{% url 'adminapp:user_list' %}">
        Отмена
      </a>
    </button>
  </div>
{% endblock %}